body {
    background-color: #DDB892;
    margin: 0 auto;
}

header {
    color: #9C6644;
    font-weight: 700;
    text-align: center;
    font-size: 38px;
}

button {
    display: block;
    background-color: #9C6644;
    width: 100px;
    height: 25px;
    color: #E6CCB2;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid #7F5539;
    margin: 20px auto auto auto;
}

p {
    color: #7F5539;
    font-size: 18px;
    font-weight: 700;
}

.book {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

.book p {
    margin: 0;
    font-size: 16px;
}